*{
	
	box-sizing: border-box;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: #222629;
}
/*.top-wrapper{
	border-bottom: 1px solid #white;
}
.body-wrapper{
	background-color: #white; 
}*/
